
<header class="p-1  border-bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img
          src="https://user-images.githubusercontent.com/81351605/129493014-5888b8e1-c20b-44b9-a98d-33927c9fe5c8.png"
          class="navbar-brand img-logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li class="nav-item">
            <a href="/" class="nav-link px-2 link-secondary nav-text">
              Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link px-2 link-secondary">
              CV
            </a>
          </li>
        </ul>
        <div class="dropdown">
          <a
            href="#"
            class="d-block link-secondary text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Đỗ Sỹ Phong
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul
            class="dropdown-menu text-small"
            aria-labelledby="dropdownUser1"
            style=""
          >
            <li>
              <a class="dropdown-item" href="/courses/create">
                Đăng khóa học
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/me/stored/courses">
                Quản lý khóa học
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item buttun-line" href="#">
                Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>