<title>Trang chủ</title>
<div class="d-flex main">
  <div class="d-flex bmain">
    <div class="container my-auto text-center">
    <h1 class="mb-1 txt-main">
      View CV
    </h1>
    <h3 class="mb-5">
      <em class="txt-note">
        Nơi trưng bày sản phẩm và CV của bạn
      </em>
    </h3>
    <a
      class="btn btn-primary btn-xl js-scroll-trigger"
      role="button"
      href="#about"
    >
      Bắt đầu
    </a>
    <div class="overlay"></div>
  </div>
  </div>
</div>